<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EmitterSharp" version="1.1.1.1" targetFramework="net461" />
  <package id="EngineIOSharp" version="2.0.0.1" targetFramework="net461" />
  <package id="FluentWPF" version="0.10.2" targetFramework="net461" />
  <package id="Hardcodet.NotifyIcon.Wpf" version="1.1.0" targetFramework="net461" />
  <package id="Microsoft.Web.WebView2" version="1.0.1150.38" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net461" />
  <package id="SimpleThreadMonitor" version="1.0.2.1" targetFramework="net461" />
  <package id="System.CodeDom" version="6.0.0" targetFramework="net461" />
  <package id="System.Management" version="6.0.0" targetFramework="net461" />
  <package id="WebSocketSharp.CustomHeaders.CustomHttpServer" version="1.0.2.3" targetFramework="net461" />
  <package id="WebSocketSharp-netstandard" version="1.0.1" targetFramework="net461" />
</packages>